<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>河北经贸大学毕业生论文管理系统</title>
    <link rel="stylesheet" href="~/Content/Custom/css/style.css" />
    <link rel="stylesheet" href="~/Content/Custom/css/jquery.wysiwyg.css" />
    <link rel="stylesheet" href="~/Content/Custom/css/facebox.css" />
    <link rel="stylesheet" href="~/Content/Custom/css/visualize.css" />
    <link rel="stylesheet" href="~/Content/Custom/css/date_input.css" />
    <!--[if lt IE 8]><style type="text/css"><link rel="stylesheet" href="~/Content/Custom/css/ie.css" /></style><![endif]-->
    @RenderSection("PageCsses", required: false)

    <!--[if IE]><script type="text/javascript" src="~/Content/Custom/js/excanvas.js"></script><![endif]-->	
    <script type="text/javascript" src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script type="text/javascript" src="~/Content/Custom/js/jquery.img.preload.js"></script>
    <script type="text/javascript" src="~/Content/Custom/js/jquery.filestyle.mini.js"></script>
    <script type="text/javascript" src="~/Content/Custom/js/jquery.wysiwyg.js"></script>
    <script type="text/javascript" src="~/Content/Custom/js/jquery.date_input.pack.js"></script>
    <script type="text/javascript" src="~/Content/Custom/js/facebox.js"></script>
    <script type="text/javascript" src="~/Content/Custom/js/jquery.visualize.js"></script>
    <script type="text/javascript" src="~/Content/Custom/js/jquery.visualize.tooltip.js"></script>
    <script type="text/javascript" src="~/Content/Custom/js/jquery.select_skin.js"></script>
    <script type="text/javascript" src="~/Content/Custom/js/jquery.tablesorter.min.js"></script>
    <script type="text/javascript" src="~/Content/Custom/js/ajaxupload.js"></script>
    <script type="text/javascript" src="~/Content/Custom/js/jquery.pngfix.js"></script>
    @*<script type="text/javascript" src="~/Content/Custom/js/custom.js"></script>*@	
    @RenderSection("PageScripts", required: false)
</head>
<body>
<div>
    @RenderBody()
</div>
</body>
</html>
